.weather-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3vh 3vh 1vh 3vh;
  color: #fff;
  gap: 5vh
}

.element {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}
.element-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.weather-temp {
  margin-top: 3vh;
  text-align: center;
  color: #fff;
  font-size: 36px;
}

.weather-location {
  text-align: center;
  color: #fff;
  font-size: 48px;
  margin: 0vh 0vh 10vh 0vh;
}

.info-wrap {
  display: flex;
  gap: 0.5vh;
  flex-direction: column;
  margin: 0vh 0vh 0vh 1vh;
}

.ex-img {
  max-width: 50px;
  max-height: 50px;
}
