p{
  color: #fff;
}
.cardContainer {
  min-width: 350px;
  margin: 5vh auto;
  padding: 5vh;
  max-width: 450px;
  background: rgb(68, 0, 255);
  background: linear-gradient(
    180deg,
    rgba(68, 0, 255, 0.5746673669467788) 0%,
    rgba(2, 98, 138, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px;
  border: 0.5px solid rgb(121, 121, 121);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.45);
}

.appContainer {
  padding: 1vh;
}
